/* landing page */
body, html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.bg-img {
    /* The image used */
    background-color: lightsteelblue;
    height: 100vh;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
/*    padding: 10px;*/
    margin: 183px 0 0 0;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.about-app {
/*    text-align: center;*/
    padding: 0 0 0 80px;
}
.about-app h1 {
    text-transform: uppercase;
    font-size: 55px;
    padding: 0 0 10px 0;
}
.about-app h3 {
    text-transform: uppercase;
    font-size: 25px;
    padding: 20px 0;
}
.about-app h5 {
    font-size: 20px;
    padding: 3px;
}

/* Add styles to the form container*/
.login-form {
    padding: 16px;
    background-color: white;

/*    z-index: 100;*/
/*    background: linear-gradient(135deg,rgba(57,68,75,.85) 0,rgba(57,68,75,.85) 100%);*/
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit button */
.btn {
    background-color: lightpink;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}



/* nav bar style */


/* Log In section style */
.login-form {
    max-width: 300px;
    margin: 0 auto;
}

.login-form h1{
    padding: 30px 0;
    text-align: center;
    font-size: 21px;
}

/* Sign Up section style */


/* User dashboard */



/* Footer style */

.footer-container {
    height: auto;
    padding: 20px;
    text-align: center;
}

footer p {
    font-size: 15px;
    color: #ecb2ab;
}

footer img {
    height: 30px;
    width: 30px;
}

.footer-container i {
    color: white;
}

.footer-container i:hover {
    color: #ecb2ab;
    border-radius: 50%;
}

/* Responsive media queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    .column {
        width: 100%;
        padding: 100px 20px 0 20px;

    }

    .about-app h1 {

        font-size: 42px;
    }
    .about-app h3 {

        font-size: 20px;

    }
    .about-app h5 {
        font-size: 19px;
        padding: 2px;
    }
}
